@font-face {
    font-family: "Paris2024";
    src: url("fonts/Paris2024-Variable.ttf");
}

body {
    background-color: #f0f0f0f0;
    font-size: 1em;
}

h1, h2, h3 {
    font-family: "Paris2024";
}


/* .message-body {

} */

figure {
    float: right;
    padding: 1em;
    margin: 1em;
    background-color: #eeeeee;
}
.img {
    float: right;
    padding: 1em;
    margin: 1em;
    background-color: #eeeeee;
}

.figure .img {
    max-width: 12em;
    max-width: 14em;
}

/* figure figcaption{} */

.toc {
    border: 1px solid #ccc;
    font-family: "", ;
}

.image-viewer {
    display: none;
    position: fixed;
    background: #676767;
    color: white;

    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    inset: 0;

    opacity: .6;

}

.image-viewer.visible {
    display: block;
}

