@font-face {
    font-family: "Paris2024";
    src: url("fonts/Paris2024-Variable.ttf");
}

body {
    background-color: #f0f0f0f0;
    font-size: 1em;
}

h1, h2, h3 {
    font-family: "Paris2024";
}


.message-body {

}

figure {
    float: right;
    padding: 1em;
    margin: 1em;
    background-color: #eeeeee;
}

figure img {
    max-width: 12em;
    max-width: ;
}

figure figcaption{}